body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdsbygZriR2J_AQRGlbvNu3WncT0nnkhb9Zv9c_bBCI1br_k803msTsNm-E6n2549PqR0&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
}

.schedule {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class-info {
    text-align: center;
    font-size: 24px;
    color: #333;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.days-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.day {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
}
#titulo {
    text-align: center;
  }
  
